<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Nglinkvalue by miamarti</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Nglinkvalue</h1>
      <h2 class="project-tagline">AngularJS link input values</h2>
      <a href="https://github.com/miamarti/ngLinkvalue" class="btn">View on GitHub</a>
      <a href="https://github.com/miamarti/ngLinkvalue/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/miamarti/ngLinkvalue/tarball/master" class="btn">Download .tar.gz</a>
    </section>

    <section class="main-content">
      <h1>
<a id="nglinkvalue" class="anchor" href="#nglinkvalue" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>ngLinkvalue</h1>

<p>AngularJS link input values</p>

<p>
  <a href="https://gitter.im/miamarti/ngLinkvalue"><img src="https://img.shields.io/gitter/room/nwjs/nw.js.svg"></a>
  <img src="https://img.shields.io/badge/ngLinkvalue-release-green.svg">
  <img src="https://img.shields.io/badge/version-1.0.0-blue.svg">
  <img src="https://img.shields.io/github/license/mashape/apistatus.svg">
  <a href="https://github.com/miamarti/ngLinkvalue/tarball/master"><img src="https://img.shields.io/github/downloads/atom/atom/latest/total.svg"></a>
</p>

<p>AngularJS component responsible for linking confirmation inputs.</p>

<pre><code>&lt;div class="field" ng-class="{ 'has-error': form.password.$dirty &amp;&amp; form.password.$error.required }"&gt;
    &lt;label&gt;New Password&lt;/label&gt;
    &lt;input 
        type="password" 
        name="password" 
        ng-model="login.model.password" 
        required&gt;
    &lt;span ng-show="form.password.$dirty &amp;&amp; form.password.$error.required"&gt;
        Password required.
    &lt;/span&gt;
&lt;/div&gt;

&lt;div class="field" ng-class="{ 'has-error': form.password.$dirty &amp;&amp; form.$error.confirmValue }"&gt;
    &lt;label&gt;Confirm New Password&lt;/label&gt;
    &lt;input 
        type="password" 
        name="passwordConfirm" 
        ng-model="login.model.passwordConfirm" 
        ng-linkvalue="login.model.password" 
        required&gt;
    &lt;span ng-show="form.password.$dirty &amp;&amp; form.$error.confirmValue"&gt;
        Password must match.
    &lt;/span&gt;
&lt;/div&gt;
</code></pre>

<h2>
<a id="bower-install-de-dependency" class="anchor" href="#bower-install-de-dependency" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Bower install de dependency</h2>

<pre><code>$ bower install ngLinkvalue --save
</code></pre>

<h2>
<a id="module-angularjs-include" class="anchor" href="#module-angularjs-include" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Module AngularJS include</h2>

<pre><code>angular.module('example', ["ngLinkvalue"]);
</code></pre>

      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/miamarti/ngLinkvalue">Nglinkvalue</a> is maintained by <a href="https://github.com/miamarti">miamarti</a>.</span>

        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
      </footer>

    </section>

  
  </body>
</html>
